#root {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.main-section {
    margin: 0 auto;
  text-align: center;
}

.footer-container {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #282a36;
  color: #f8f8f2;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  @media (max-width: 480px) {
      flex-direction: column;
      height: auto;
      padding: 10px;
    }
}

.footer-text {
  margin-right: 10px;
  @media (max-width: 480px) {
      margin-left: 0;
    }
}

.footer-link {
margin-left: 10px;
text-decoration: none;
@media (max-width: 480px) {
  margin-right: 0;
  margin-bottom: 10px;
}
}

.footer-link:hover {
  text-decoration: underline;
  color: #a59ca1;
}

.input-container {
}

.input-container input {
  display: block;
  margin: 10px;
  height: 35px;
  width: 20%;
  padding: .75rem;
  text-align: center;
  margin: auto;
  margin-block: 1rem;
}

.input-container textarea {
  width: 50%;
  text-align: center;
  display: block;
  margin: auto;
  margin-block: 1rem;
}

.btns {
  margin: 10px;
}